@import "./reset";
@import "./variables";
@import "./mixins";
@import "./contact";

/* Base Styles */

html, body {
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
	color: $baseFontColor;
	line-height: 1.25;
}

*:after, *:before, * {
	box-sizing: inherit;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	@include flex(row, space-between);
	padding: 1.5rem;
	background-color: $darkGreen;
	position: sticky;
	top: 0;
	z-index: 9001;
}

a.Logo {
	margin-left: 1.5rem;
	text-decoration: none;
	font-size: 0.8rem;
}

ul.NavList {
    @include flex(row, space-around);
	li + li {
		margin-left: 0.5rem;
	}
	li > a {
		text-decoration: none;
		font-weight: 700;
		color: white;
		font-size: 0.8rem;
		line-height: 1;
		&:hover {
			color: $navHover;
		}
	}
	li > a.Active {
		border-bottom: 2px solid $lightGreen;
	}
}

main {
	@include flex(column, flex-start);
	padding: 5rem;
	overflow-x: hidden;
}

h1 {
	font-weight: 400;
	font-size: 2.25rem;
	letter-spacing: -1px;
	line-height: 1.5;
	width: $contentWidth;
}

h2 {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 1.5rem;
}

h3 {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 1.125rem;
}

h4 {
	font-weight: 400;
	letter-spacing: -1px;
	font-style: italic;
}

footer {
	padding: 2rem;
	background-color: $darkGreen;
	height: 250px;
}

.centered {
	text-align: center;
}

.mt {
	margin-top: 5rem;
}


/* Style Index */

article {
	width: $contentWidth;
	margin-top: 2rem;
}

article + article {
	margin-top: 5rem;
}



p {
	margin-top: 1rem;
}

div.colorsplash {
	width: 250px;
	height: 250px;
	background-color: $lightGreen;
	margin-top: 1rem;
}

section.ProjectList {
	@include flex(column, space-between);
	flex-wrap: wrap;
	width: $contentWidth;

	article {
		border: 2px solid black;
		width: 282px;
		height: 276px;
		margin: 2rem 0 0 0;
		border-radius: 1rem;
		padding: 1rem;
		position: relative;

		img {
			border: 2px solid black;
			position: absolute;
			top: -14px;
			left: 36px;
			border-radius: 14px;
		}

		p {
			margin: 1rem 0;
		}

		div {
			width: 90%;
			position: absolute;
			bottom: 0.5rem;
			span + span {
				float: right;
			}
		}

	}

}

@media screen and (min-width: 760px) {
    html {
        font-size: 16px;
    }

	h1, article {
		width: 600px;
	}

	ul.NavList > li + li {
		margin-left: 3rem;
	}

	section.ProjectList {
		flex-direction: row;
		width: 600px;
	}
}