<!DOCTYPE html>

<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <meta name="description" content="description">
  <meta name="author" content="author">

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="/assets/images/fav.ico"/>
  {{ page.script }}

  {% feed_meta %}
  {% seo %}

</head>

<body>
    {% include header.html %}
    <main>
      <h4>(Under Construction)</h4>
      {{content}}
    </main>
    {% include footer.html %}
</body>
</html>
