/* Colors:
   IndianRed rgb(205, 92, 92) #cd5c5c
   FireBrick: rgb(178, 34, 34) #B22222
   CornSilk: rgb(255, 248, 220) #FFF8DC
*/


 /*********************************************************************
  *************************** CONTACT AREA ****************************
  *********************************************************************/

main.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3em 0;
}

main.contact-info > p {
    max-width: 36em;
    line-height: 1.5;
}

main.contact-info > form {
    width: 36em;
    margin-top: 1em;
}

main.contact-info > form > fieldset {
    padding: 1em;
    border: 1px solid black;
}

main.contact-info > form > fieldset > p:not(:first-of-type) {
    margin-top: 0.5em;
}

main.contact-info > form > fieldset > p >  input {
    margin-left: 1.5em;
}

main.contact-info > form > fieldset > textarea {
    margin-top: 0.5em;
    resize: none;
}
