/* Colors:
   IndianRed rgb(205, 92, 92) #cd5c5c
   FireBrick: rgb(178, 34, 34) #B22222
   CornSilk: rgb(255, 248, 220) #FFF8DC
*/


/* Reset CSS DOCUMENT */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Document level styling */

html {
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

div#spacer {
    height: 2rem;
    background-color: rgb(178, 34, 34);
}

@media screen and (min-width: 601px) {
    html {
        font-size: 16px;
    }

    div#spacer {
        display: none;
    }
}

/* Top of page heading */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

header > button#burger-btn {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    display: inline-block;
    border: none;
    background-color: inherit;
    z-index: 1;
}

header > h1 {
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header > h1 > div#logo {
    background-image: url('../images/site/mossandocean-logo-sm.jpg');
    background-repeat: no-repeat;
    position: absolute;
    height: inherit;
    width: inherit;
}

@media screen and (min-width: 601px) {
    header {
        justify-content: flex-start;
        padding: 0 1rem;
        height: 80px;
    }

    header > button#burger-btn {
        display: none;
    }

    header > h1 {
    width: 100%;
    }

    header > h1 > div#logo {
    background-image: url('../images/site/mossandocean-logo-lg.jpg');
    background-size: cover;
}
}


/* Navigation styling */

nav {
    display: none;
    background-color: rgb(178, 34, 34); /*FireBrick #B22222*/
}

nav > ul {
    display: flex;
    flex-flow: column;

}

nav > ul > li {
    display: flex;
    line-height: 2.5;
    flex: 1;
    border-bottom: 1px solid white;
    height: 2rem;
}

nav > ul > li > a {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

nav > ul > li > a:link {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: rgb(205, 92, 92); /*IndianRed #cd5c5c*/
}

nav > ul > li > a:visited {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 601px) {
    nav {
        display: block;
    }

    nav > ul {
        flex-flow: row;
    }

    nav > ul > li {
        border: none;
    }

    nav > ul > li > a {
        font-size: 1.25rem;
    }
}


/* Footer styling */

footer {
    background-color: rgb(178, 34, 34); /*FireBrick #B22222*/
    width: 100%;
}

footer > ul {
    display: flex;
    align-items: center;
    height: 48px;
    margin: 0 16px;
}

footer > ul > li {
    color: white;
    flex: 1;
}

footer > ul > li:nth-child(2) {
    text-align: center;
}

footer > ul > li:last-child {
    font-style: italic;
    text-align: right;
}


/* Index page styling */

main.index {
    width: 100%;
}

main.index > h1.main-heading {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin: 2.25rem auto;
}

article.index {
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article.index > section {
    max-width: 36rem;
    margin-bottom: 2.25rem;
}

article.index > section:last-child {
    margin-bottom: 0;
}

article.index > section > h3 {
    line-height: 2.25rem;
    font-size: 1.5rem;
}

article.index > section > p {
    line-height: 1.5;
}

article.index > section > p + p {
    margin-top: 1.5rem;
}

article.index > section > h3 + p::first-letter {
    font-size: 24px;
    line-height: 0;
}


/* Games list page styling */

main.games > h1.main-heading {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin: 2.25rem auto;
}

main.games > section.games-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main.games > section.games-list > article { 
    margin: 1.5rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

main.games > section.games-list > article > a { 
    display: block;
    width: 300px;
    height: 300px;
}

main.games > section.games-list > article > a#rps-link { 
    background-image: url("../images/rps/rps-thumb-small.jpg");
}

main.games > section.games-list > article > a#etch-link { 
    background-image: url("../images/etch/etch-thumb-small.jpg");
}

main.games > section.games-list > article > span { 
    width: 300px;
    height: 50px;
    background-color: rgb(178, 34, 34);
    font-size: 1.25rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Game view page styling */

main.game-view {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main.game-view > section > article > div#game-container {
    margin: 2rem;
}

main.game-view > section > article > div#rps-game-container {
    margin: 2rem;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main.game-view > section > article > div#rps-game-container > div#choices > div#rock {
    width: 75px;
    height: 67px;
    background-image: url('../images/rps/assets/rock-sm.jpg');
    cursor: pointer;
}

main.game-view > section > article > div#rps-game-container > div#choices > div#paper {
    width: 75px;
    height: 55px;
    background-image: url('../images/rps/assets/paper-sm.jpg');
    cursor: pointer;
}

main.game-view > section > article > div#rps-game-container > div#choices > div#scissors {
    width: 75px;
    height: 75px;
    background-image: url('../images/rps/assets/scissors-sm.jpg');
    cursor: pointer;
}

main.game-view > section > article#etch > p#error-msg {
    display: none;
}

@media screen and (min-width: 601px) {
    main.game-view > section > article > div#rps-game-container {
        width: 500px;
        height: 500px;
    }

    main.game-view > section > article > div#rps-game-container > div#choices > div#rock {
    width: 125px;
    height: 111px;
    background-image: url('../images/rps/assets/rock-lg.jpg');
    }

    main.game-view > section > article > div#rps-game-container > div#choices > div#paper {
    width: 125px;
    height: 92px;
    background-image: url('../images/rps/assets/paper-lg.jpg');
    }

    main.game-view > section > article > div#rps-game-container > div#choices > div#scissors {
    width: 125px;
    height: 125px;
    background-image: url('../images/rps/assets/scissors-lg.jpg');
    }
}

@media screen and (max-width: 1023px) {
    main.game-view > section > article#etch > div#game-container {
        display: none;
    }

    main.game-view > section > article#etch > p#error-msg {
        display: block;
        margin: 2rem;
    }
}


/* Contact page styling */

main.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem 0;
}

main.contact-info > p {
    margin: 0 1rem;
    max-width: 36rem;
    line-height: 1.5;
}

main.contact-info > form {
    max-width: 36rem;
    margin-top: 1rem;
}

main.contact-info > form > fieldset {
    padding: 1rem;
    border: 1px solid black;
}

main.contact-info > form > fieldset > p:not(:first-of-type) {
    margin-top: 0.5rem;
}

main.contact-info > form > fieldset > p >  input {
    margin-left: 1.5rem;
}

main.contact-info > form > fieldset > textarea {
    margin-top: 0.5rem;
    resize: none;
}
