#contact-info, #contact-form {
    margin: 3rem;
}    

#contact-info {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}